/* src/App.css */
.App {
   text-align: center;
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.App-logo {
   width: 100%;
   max-width: 200px;
   height: auto;
   margin: 0 auto;
}

.App-header {
   background: url('../public/canvas-bg.png') repeat;
   /* Tile the canvas background */
   height: 120px;
   position: relative;
   padding: 5px 20px 60px;
   /* Add padding to ensure the seam is visible */
   color: rgb(67, 0, 94);
   box-sizing: border-box;
}

.App-header::after {
   content: '';
   display: block;
   width: 100%;
   height: 40px;
   margin-top: 120px;
   /* Adjust the height to make the border thicker */
   background: url('../public/seam-bg.png') repeat-x;
   /* Add the seam background */
   position: absolute;
   bottom: -23px;
   left: 0;
}

.App-header h1 {
   font-size: 1.5rem;
   margin-block-start: 0px;
}

main {
   flex-grow: 1;
   padding: 50px 20px 20px;
   /* Add top padding to push content below the seam */
   overflow-y: auto;
   box-sizing: border-box;
}

.schedule {
   padding: 20px;
}

.event-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.event-card {
   background-color: #f9f9f9;
   border: 1px solid #ddd;
   padding: 15px;
   border-radius: 8px;
}

/* Bottom navigation bar */
.bottom-nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: white;
   border-top: 1px solid #ddd;
   padding: 10px 0;
   position: fixed;
   width: 100%;
   bottom: 0;
}

.nav-link {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: gray;
   text-decoration: none;
   font-size: 14px;
}

.nav-link svg {
   font-size: 24px;
}

.nav-link.active {
   color: #282c34;
   font-weight: bold;
}

.nav-link.active svg {
   color: #282c34;
}

/* Responsive styling for mobile screens */
@media (max-width: 600px) {
   .App-header h1 {
      font-size: 1.2rem;
   }
}